* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  background-image: url("../images/stary22.jpg");
  background-size: 100%;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media(max-width: 768px) {
  body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

  }
}

.main-div {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr 1fr 1fr;
  display: grid;
}

@media (max-width: 768px) {
  .main-div {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.container-navbar {
  grid-row: 1;
  grid-column: 1 / 5;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0);

}


.brand-name {
  font-size: 1.2em;
  font-family: "playfair-display-1";
  font-style: normal;
  font-weight: bolder;
  text-decoration-line: none;
  color: white;
  margin: 20px;
  padding: 10px 10px 30px 20px;
  text-shadow: 10px 10px 10px black;
  animation: fa-beat 5s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.brand-name:hover {
  font-size: 1.5em;
  text-shadow: 1px 1px 20px #e3e3e3;
  color: white;

}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s;
  z-index: 1000;

  transition: transform 0.3s ease-in-out;
}

.hidden {
  top: -100px;
  transition: top 0.5s ease-in-out;
  /* Smooth transition */
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  text-decoration: none;
  align-self: center;
  position: fixed;
}

.navbar-collapse {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}



/* this is foe the collapsed view ================ */

@media (max-width: 1025px) {
  .navbar-collapse {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    z-index: 1001;
    padding-top: 50px;
    transition: transform 0.3s ease-in-out;
  }
}

@media (max-width:425px) {
  .navbar-collapse {
    position: fixed;
    display: block;
    top: 40px;
    right: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    z-index: 1001;
    padding-top: 50px;
    transition: transform 0.3s ease-in-out;
  }

  .navbar.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
}




.nav-underline {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 30px 10px;
  color: white;
  text-decoration: none;

}

.nav .nav-link {
  color: white;
  font-size: 1.05em;
  font-weight: bold;

}

.nav-item {
  color: white;
  display: flex;
  justify-content: space-around;
  justify-items: right;
  align-items: right;
  padding: 10px 20px 20px 20px;
  text-decoration: none;
  align-self: right;
}

.btn-outline-primary {
  color: white;
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.navbar-toggler {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.collapse .navbar-collapse {
  display: flex;
  background-color: white;
  color: white;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  align-self: center;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);

}

a .nav-link .active {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  font-family: "bitter-font-family";
}

.nav-link:hover(.active) {
  color: rgba(248, 140, 232, 0.865);
  text-decoration: wavy;
}

.nav-item .dropdown {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  font-family: "bitter-font-family";
}

.dropdown-menu li a:hover:not(.active) {
  color: rgba(20, 9, 16, 0.865);
  background-color: rgba(206, 135, 198, 25%);
}

li a:hover:not(.active) {
  color: rgba(248, 140, 232, 0.865);
  text-decoration: wavy;
}

li a:hover(.active) {
  color: rgba(248, 140, 232, 0.865);
  text-decoration: wavy;
}

.dropdown-menu {
  background-color: rgba(179, 108, 148, 0.9);
  /* Transparent background */
}

li .active .nav-item {
  color: rgb(164, 65, 126);

}


#profile {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  align-items: center;
  margin: 5% 45% 0% 45%;
}

.intro {
  grid-row: 2/5;
  grid-column: 1/5;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'playfair-display-1';
  margin: auto;
  padding: 10px;
}

.intro h1,
h3 {
  font-size: 4em;
  font-family: 'playfair-display-1';
  font-weight: bold;
  font-style: italic;
  color: white;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}

.intro h3 {
  font-size: 2em;
  font-weight: lighter;
}

#icon {
  animation: fa-flip;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/*  The donwloaded font family from google fonts
 <weight>: Use a value from 100 to 900 */

.playfair-display-1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#links {
  margin: 10px 200px 10px 200px;
  font-size: large;
  font-weight: 500;

}

.scroll-down {
  grid-row: 5;
  grid-column: 2/4;
  justify-content: baseline;
  align-items: baseline;
  align-content: baseline;
  margin: 200px auto 10px auto;
  font-size: medium;
  font-weight: 200;
  color: white;
}

.icon-scroll {
  color: white;
}

@media (max-width: 768px) {
  .intro {
    padding: 10px;
    margin: 10px;
    justify-items: center;
    justify-content: center;
  }

  .intro h1 {
    font-size: 2.5em;
  }

  .intro h3 {
    font-size: 1.5em;
  }

  .h4 {
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;

  }

  .scroll-down {
    color: white;
    font-size: 1em;
    font-weight: 200;
    grid-row: 5;
    grid-column: 1/5;
    margin: 10px auto 10px auto;
  }
}


/* Styling for the about section */
.about-section {
  padding: 50px 10px;
  background-color: rgba(0, 0, 0, 0.798);
  margin: 150px 50px;
  color: rgb(255, 250, 250);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(247, 245, 245, 0.5);
  border: 1px solid rgba(252, 249, 249, 0.685);
}

.about-section h2,
.about-section p {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

#about {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  justify-content: left;
  align-items: left;
}

.about-me p {
  padding: 30px;
  font-size: 1.3em;
  text-align: left;
  font-family: serif;

}

img {
  width: 350px;
  height: 600px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5%;
}

@media (max-width: 768px) {
  .about-section {
    padding: 20px 1%;
    margin: 10px;
    display: block;
  }

  .about-me p {
    font-size: 1em;
    padding: 10px;
  }

  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-me h2 {
    font-size: 1.5em;
    margin-top: 10px;
  }

  .about-me p {
    font-size: 1.3em;
    margin: 10px;
  }

  img {
    width: 30vw;
    height: 35vh;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1%;

  }

}

@media(max-width: 320px) {
  .about-section {
    display: block;
    margin: 5px;
    padding: 5px;
  }

  .about-me p {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
  }

  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 35vw;
    height: 25vh;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1%;
  }
}

/* General styling */
.projects-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 50px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(247, 245, 245, 0.5);
  border: 1px solid rgba(252, 249, 249, 0.685);
  background-color: rgba(0, 0, 0, 0.798);
}

.project-section h2 {
  font-size: 2em;
  margin-bottom: 50px;
  color: white;
  font-family: "Playfair Display", serif;
  text-align: center;
}

/* Carousel styling */
.projects-div #projects-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  width: 100%;
  height: 400px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* Card styling */
.card {
  width: 280px;
  /* Fixed width to prevent shrinking */
  height: 400px;
  perspective: 1000px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(249, 249, 249, 0.1);
  border: 2px solid #0c0b0b;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #333;
}


.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
  background-color: rgb(6, 6, 6);
  color: #333;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  transition-delay: 1s;
}

/* Front and back faces */
.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #333;
}

.card-front {
  color: #333;
}

.card-back {
  transform: rotateY(180deg);
  padding: 10px;
}

.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: center;
  border-radius: 10px;
  border: 2px solid #f9f9f9;
  position: center;
}

/* Card content */
.card-body {
  align-items: center;
  text-align: center;
}

.card-title {
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
  margin: 30px 0;
  color: #fbfbfb;

}

.card-text {
  font-size: 0.8em;
  color: #333;

}

ul.list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  list-style: none;
  color: #fefefed6;
  font-size: 0.8em;
  font-family: "Playfair Display", serif;
  text-align: center;

}

.list-group-item {
  font-size: smaller;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000000;
  transition: background-color 0.3s;
  list-style-type: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-group-item:hover {
  background-color: #699ee8;
}

/* Link buttons */
.card-body-link {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
}

.card-link button {
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Hover effect for the card */
.card:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .projects-div {
    margin: 10px;
    padding: 10px;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
    transition-delay: 0.7s;
  }

  /* Hover effect for the card */
  .card:hover {
    transform: scale(1.05);
  }

  .card {
    width: 200px;
    height: 150px;
    perspective: 800px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 10px;
    background-color: rgb(6, 6, 6);
  }

  .card-back {
    font-size: 0.8em;
    align-items: start;
    padding: 0;
    justify-content: start;
    text-align: start;
  }

  ul.list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;
    list-style: none;
    color: #fefefed6;
    font-size: 0.8em;
    font-family: "Playfair Display", serif;

  }

  .card-img-top {
    width: 100%;
    height: 100px;
    object-fit: center;
    border-radius: 10px;
    border: 2px solid #f9f9f9;
    position: center;
  }

  .card-title {
    font-family: "Playfair Display", serif;
    font-size: 1em;
    color: #fbfbfb;
  }

  .project-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
    font-family: "Playfair Display", serif;
    text-align: center;
  }

  .card-text {
    font-size: 1em;
    color: #fefefed6;
  }
}

/* Styling for Tech Stack section */

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(247, 245, 245, 0.5);
  border: 1px solid rgba(252, 249, 249, 0.685);
  background-color: rgba(0, 0, 0, 0.798);

}

#tech-stack h2 {
  font-size: 2em;
  margin: 50px;
  color: white;
  font-family: "Playfair Display", serif;
  text-align: center;
  justify-content: center;
}

.tech-stack-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  align-items: space-evenly;
  padding: 50px;
  margin: 10px;
  gap: 100px;
  background-color: rgba(137, 136, 136, 18.4%);
  margin-bottom: 30px;
  border-radius: 5%;
}

@media (max-width: 1024px) {
  .tech-stack-item {
    font-size: 10pt;
  }

  .tech-stack-container {
    gap: 50px;
  }
}

.tech-stack-item {
  font-size: 30pt;
  padding: 10px;
  margin: 10px;
  color: rgb(254, 248, 248);
  animation: fa-beat 5s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.tech-stack-item:hover {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 20px #e3e3e3;
}

.tech-stack-item p {
  font-size: large;
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .tech-stack {
    margin: 5px;
    padding: 5px;
  }

  .tech-stack-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 10px;
    border-radius: 0;
    margin: 15px;
    border-radius: 2%;
    gap: 30px;
  }

  .tech-stack-item {
    font-size: 20pt;
    color: rgb(254, 248, 248);
    animation: fa-beat 5s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

  .tech-stack-item p {
    font-size: small;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: "Playfair Display", serif;
  }

  #tech-stack h2 {
    font-size: 1.5em;
    margin: 10px;
  }
}

/* Styling for the contact section */
.links-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: white;
  font-size: 20pt;
}

.links-container a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.links-container a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 20px #e3e3e3;
}

.links-container p {
  font-size: 1em;
  font-family: "Playfair Display", serif;
  color: white;
  text-align: center;
  justify-content: center;
  margin: 10px 30px;
  padding: 10px;
}

.links-container .link-item {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#links-bottom h2 {
  font-size: 2em;
  margin: 50px 50px 5px;
  color: white;
  font-family: "Playfair Display", serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: underline;
}

.go-top {
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 20px #e3e3e3;
  position: sticky;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
  justify-content: end;


}

.go-top a {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 2px 2px 20px #e3e3e3;


}

.go-top a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 20px #e3e3e3;

}



.links-section {
  justify-content: space-between;
  /* Distributes space between items */
  align-items: end;
  flex-wrap: wrap;
  margin: 50px;
  padding: 50px;
  color: white;
  background-size: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(247, 245, 245, 0.5);
  border: 1px solid rgba(252, 249, 249, 0.685);
  overflow-x: hidden;

}

.owner-rights {
  align-self: flex-end;
  /* Positions it to the end of the flex container */
  padding: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  margin-top: 50px;
  margin-bottom: 0;
  text-align: end;
  justify-content: baseline;
  align-items: baseline;
  align-content: baseline;


}

@media(max-width: 768px) {
  .links-container {
    margin: 5px;
    padding: 5px;
  }

  .links-section {
    padding: 5px;
    margin: 5px;
  }

  .owner-rights {
    align-self: flex-end;
    padding: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: end;
    justify-content: baseline;
    align-items: baseline;
    align-content: baseline;
  }

  .links-container p h2 {
    font-size: 2.5em;
    margin: 10px;
  }
}

/* ============================== */
/* Light Theme Styles */
body.light-theme {
  background-image: url("../images/wht-bvg.jpg");
  font-family: "Playfair Display", serif;
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #333;
}



@media(max-width: 1024px) {
  body.light-theme {
    background-image: url("../images/wht-bvg.jpg");
    background-size: cover;
    background-position: center center;
    max-height: 100vh;
    color: #333;
  }

  .body-light-theme.navbar-collapse {
    flex-direction: column;
    align-items: flex-start;
  }

  .body-light-theme.navbar-collapse {
    display: none;
  }

  .body-light-theme .card-text {
    font-size: 0.8em;
    color: #333;

  }
}

.main-div.light-theme {

  color: #333;
}

.nav.light-theme {
  color: #333;
}

.nav .nav-link.light-theme {
  color: #333;
}

.nav-item.light-theme {
  color: #333;
}

.btn-outline-primary.light-theme {
  color: #333;
  border-color: #333;
}

.intro.light-theme h1,
.intro.light-theme h3 {
  color: #333;

}

.about-section.light-theme {
  background-color: #ffffff8b;
  color: #333;
  border: 1px solid #9c9a9a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.light-theme {
  background-color: #f0f0f0;
  color: #333;
}

li a.light-theme,
li a:hover.light-theme {
  color: #333;
}

.scroll-down.light-theme {
  color: #333;
}

.brand-name .light-theme {
  color: #333;
  ;
}

/* Specific adjustments for text in various sections */

body.light-theme .intro h1,
body.light-theme .intro h3,
body.light-theme .intro h4,
body.light-theme .links-container a,
body.light-theme .li a,
body.light-theme .go-top,
body.light-theme .go-top a,
body.light-theme .links-container p,
body.light-theme #links-bottom h2,
body.light-theme .brand-name,
body.light-theme .owner-rights,
body.light-theme .links-section,
body.light-theme .tech-stack-item,
body.light-theme .tech-stack-item p,
body.light-theme .card,
body.light-theme .card-text,
body.light-theme .card-inner,
body.light-theme .navbar-toggler,
body.light-theme .navbar-collapse,
body.light-theme .container-navbar,
body.light-theme .project-section h2 {
  color: #333333;
}



body.light-theme .main-div {
  color: #333333;
}

body.light-theme .btn {
  background-color: #f8f9fa;
  color: #333333;
}

.projects-div.light-theme {
  background-color: #ffffff8b;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(247, 245, 245, 0.5);
  border: 1px solid rgba(252, 249, 249, 0.685);
  background-color: #ffffff8b;
}

.project-section.light-theme h2 {
  background-color: #ffffff8b;
  color: #333;
}

/* Carousel styling */
.projects-div #projects-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  width: 100%;
  height: 400px;
}

.body-light-theme .projects-container {
  background-color: #ffffff8b;
  color: #333;
}

body.light-theme .projects-div {
  background-color: #ffffff8b;
  color: #333;
  border: 1px solid #9c9a9a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.body-light-theme .card,
.card-inner,
.card-front {
  background-color: #ffffff8b;
  color: #333;
}

body.light-theme .card-img-top {
  background-color: #ffffff8b;
  color: #333;
  border: 1px solid #9c9a9a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.body-light-theme .scroll-down,
.icon-scroll {
  color: #333;
}

.body-light-theme a.nav-link {
  color: #333;
}

.body-light-theme li .nav-item {
  color: #333;
}

.body-light-theme .card-text {
  font-size: 0.8em;
  color: #333;

}

font {
  color: #333;
}

.body-light-theme.nav-item .nav-link {
  color: #333;
}

body.light-theme .tech-stack {
  background-color: #ffffffb9;
  color: #333;
  border: 1px solid #9c9a9a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.body-light-theme .tech-stack-container {
  background-color: #ffffff8b;
  color: #333;
}

body.light-theme .tech-stack-item {
  background-color: transparent;
  color: #333;
}

body.light-theme #tech-stack h2 {
  color: #333;
}

/*  dark color for the tabs of the navbar */
body.light-theme .nav-item .dropdown {

  color: #333;
}

body.light-theme a .nav-link {
  color: #333;
}

.body-light-theme a .nav-link .active {
  color: rgb(6, 6, 6);

}

.body-light-theme li a {
  color: rgb(7, 7, 7);

}